---
import { Image } from "astro:assets";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Rizal Syaepulloh is a Graphic Designer">
		<meta name="description" content="Rizal Syaepulloh adalah seorang graphic designer">
		<meta name="description" content="Rizal Syaepulloh adalah seorang UI/UX Designer">
		<meta name="description" content="Freelance graphic designer, UI/UX Designer with 3 years of experience. I am passionate about creating attractive designs and functional websites that help businesses and individuals achieve their goals.">
		<title>Rizal Syaepulloh Portfolio</title>
	</head>
	<body>
		<div class="w-full h-screen flex flex-col gap-y-6 justify-center items-center bg-gray-800">
			<img src="/favicon.svg" alt="Logo Rizal Syaepulloh" width="200">
			<h1 class="text-6xl text-white"> <span class="text-[#FFC300] font-bold">Rizal</span> Syaepulloh</h1>
		</div>
	</body>
</html>
